
.services-hero {
    position: relative;
    padding: 30px 30px 100px 30px;
    background-color: #171614;
    opacity: 1;
}

.services-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
}

.services-hero h1 {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    opacity: 1;
    text-transform: uppercase;
}

.services-hero p {
    position: relative;
    z-index: 1;
    color: #EFC040;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
}

.services-main {
    padding: 50px;
}

.services-main span {
    color: #347723;
}

.services-main > p {
    font-size: 20px;
    font-weight: 400;
    color: #171614;
    margin-bottom: 30px;
    text-align: left;
}

.services-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.services-main ul li:has(p) {
    margin: auto 10px;
    text-align: left;
}

.services-main>ul>li:has(img) {
   box-shadow: 15px 15px 0 0 #EFC040; 
   border-radius: 30px;
}

.services-main>ul>li>img {
    width: 100%;
    height: 100%;
}

.services-main>ul>li>h1 {
    color: #347723;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.services-main>ul>li>p {
    color: #171614;
    font-size: 20px;
    font-weight: 400;
}

.contact-form {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

.contact-form h1 {
    color: #26491D;
    font-size: 40px;
    padding: 10px;
    border-left: 3px solid #EFC040;
    height: 100px;
}

.contact-form form {
    display: grid;
    gap: 30px;
}

.contact-form form input {
    width: 700px;
    border: 2px solid #347723;
    border-radius: 15px;
    padding: 20px;
}

.contact-form form textarea {
    width: 700px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #347723;
}

.contact-form form button {
    background-color: #26491D;
    border: 2px solid #26491D;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.contact-form form button span {
    color: #FFFFFF;
    animation-name: intouch;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes intouch {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-5px);
    }
}

@media only screen and (width<= 768px) {
    .services-hero h1 {
        font-size: 30px;
    }

    .services-main > p {
        font-size: 18px;
    }

    .services-main ul {
        grid-template-columns: none;
        grid-template-rows: auto;
        gap: 30px;
    }

    .services-main>ul>li>h1 {
        font-size: 24px;
    }

    .services-main>ul>li>p {
        font-size: 18px;
    }

    #item1 {
        grid-row: 4;
    }

    #item2 {
        grid-row: 3;
    }

    #item3 {
        grid-row: 8;
    }
    #item4 {
        grid-row: 7;
    }

    #item5 {
        grid-row: 12;
    }

    #item6 {
        grid-row: 16;
    }

    .contact-form {
        grid-template-columns: none;
    }

    .contact-form form input,textarea {
        width: 630px;
    }

    .contact-form form textarea {
        width: 630px;
    }
}

@media only screen and (width<= 426px) {
    .contact-form h1 {
        font-size: 24px;
        height: 50px;
    }

    
    .contact-form form input,textarea {
        width: 300px;
    }

    .contact-form form textarea {
        width: 300px;
    }
}
