/* base styles */
@import url('https://fonts.cdnfonts.com/css/satoshi');
:root{
    --display: none;
}
* {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  color: #171614;
}
.navbar {
  position: relative;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto ;
}

.menu {
  position: absolute;
  left: 90%;
  display: none;
  z-index: 2;
}

.navbar .links {
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 3dvw;
 
}

.links a.active {
  color: #26491D;
  border-bottom: 2px solid #EFC040;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
}

.footer {
  background-color: #26491D; 
  color: #D5D7DD;
}

.footerlinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}

.footerlinks p {
  color: #EFC040;
}

.footerlinks div h1 {
  font-size: 32px;
  color: #EFC040;
  margin-bottom: 20px;
}

.footerlinks div ul {
  font-size: 24px; 
  list-style: none;
  display: grid;
  gap: 20px;
  margin: 0;  
  padding: 0;
}

.footerlinks div ul li a {
  color: #D5D7DD;
  text-decoration: none;
}

.contacts li{
  display: grid;
  grid-template-columns: 8% 90%;
}

.contacts li span {
  color: #D5D7DD;
  font-size: 24px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D5D7DD;
  padding: 20px ;
}

.copyright div{
  display: flex;
 
}

.copyright img,p {
  margin: auto 5px;
  color: #D5D7DD;
}

.copyright ul { 
  display: flex;
  list-style: none;
  gap: 10px;
}

@media only screen and (width<= 768px) {
  .menu{
    display: block;
  }

  .navbar {
    position: initial;
  }

  .navbar .links {
    position: absolute;
    position: fixed;
    top: 0;
    left: 50dvw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #26491D;
    height: 100dvh;
    width: 50dvw;
    flex: 1;
    align-items: center;
    justify-content:center;
    gap: 50px;
    opacity: .5;
    display: none;
   
  }

  .links a.active {
    color: #EFC040;
  }

  .links a {
    color: #D5D7DD;
    box-sizing: border-box;
    margin: 0 auto;
  }
 
  .footerlinks {
    grid-template-columns: none;
    gap: 50px;
    padding: 30px;
  }

  
.footerlinks div h1 {
  font-size: 32px;
  color: #EFC040;
  margin-bottom: 50px;
}

.footerlinks div ul li a {
  font-size: 20px;
}

.contacts li {
  gap: 20px;
}

.contacts li span {
  color: #D5D7DD;
  font-size: 18px;
}

.copyright {
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #D5D7DD;
  padding: 20px;
  gap: 20px;
}

.copyright ul {
  margin: 0;
  padding: 0;
}
}


@media only screen and (width<=426px) {
  .navbar {
    padding: 20px 10px;
  }

}


@media only screen and (width>=2560px) {
  .navbar a  {
    font-size: 32px;
  }

  .footerlinks>div>img {
    width: 500px;
  }

  .footerlinks>div>p {
    font-size: 30px;
  }

  .footerlinks>div>h1 {
    font-size: 50px;
  }

  .footerlinks>div>ul>li>a {
    font-size: 40px;
  }

  .contacts li {
    font-size: 40px;
  }
  
  .contacts li span {
    font-size: 30px;
  }

  .copyright> div {
    font-size: 30px;
  }

  .copyright img {
    width: 50px;
  }
}